.cdx-alert {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cdx-alert__message {
  outline: none;
}

.cdx-alert [contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-alert [contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-alert [contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-button-link {
  background-color: #3b82f6;
  color: #fff;
}

.cdx-button-alert {
  background-color: #ef4444;
  color: #fff;
}

.cdx-alert.cdx-settings-button {
  margin: 3px;
  width: 28px;
  height: 28px;
  opacity: 0.5;
}

.cdx-alert.cdx-settings-button:hover {
  opacity: 1;
}

.cdx-alert.cdx-settings-button--active,
.cdx-alert.ce-settings__button--focused {
  font-weight: bold;
  opacity: 0.9;
}
